<!DOCTYPE html>
<html>
<head>
    <title>Small Pass</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="./static/Logo3.png" type="image/x-icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js" integrity="sha512-wUa0ktp10dgVVhWdRVfcUO4vHS0ryT42WOEcXjVVF2+2rcYBKTY7Yx7JCEzjWgPV+rj2EDUr8TwsoWF6IoIOPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{{ url_for('static', filename='js/FirebaseFetcher.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Variables.css') }}" />
</head>
<body>
    <form id="form" method="post" action="/Pass" enctype="multipart/form-data">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print-none">
            <a class="navbar-brand mx-3" href="">
                <img src="./static/Logo2.png" width="35" height="35" class="d-inline-block align-top" alt="">
                <span class="h3 text-light">Colourtex</span>
            </a>
        </nav>
        <div class="container-fluid mb-3" style="background-color: #02001c;">

            <div class="row h-100">
                <div class="col text-danger p-3">
                    <h1 class="Reveal-Text Delay-075">Thank You For Visiting Colourtex Industries</h1>
                    <ul class="list-group list-group-flushed Reveal-Text Delay-100">
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            Secure Your Visitor Pass During The Visit & Return To The Security While Returning.
                        </li>
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            Please Go Directly To The Person You Are Visiting.
                        </li>
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            Display The Visitor Pass Throughout The Visit.
                        </li>
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            <strong>DO NOT</strong> Use Any Equipments & Chemicals Without Prior Permission.
                        </li>
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            In Case You Observe Any Incident, Please Report Immediately To The Nearest Staff Member Or To The Security Office For Further Guidance.
                        </li>
                        <li class="list-group-item list-group-item-light bg-transparent">
                            <img src="./static/Logo3.png" class="me-3 List-Icon" />
                            In Case You Hear The Emergency Siren, Follow The Employee & Assemble At The Assembly Point Located Cross Wind Direction <strong>(Except: 1 Minute Testing Siren At 4:00 PM)</strong>.
                        </li>
                    </ul>
                </div>
                <div class="col-3 FadeLogo Expand-Div" style="max-height:30rem;max-width:30rem;">
                    <img src="./static/Logo3.png" class="mw-100 mh-100 Reveal-Image Delay-075 ratio-1x1" alt="">
                </div>
            </div>
        </div>
        <div id="MainDiv" class="container mx-auto rounded d-flex flex-wrap justify-content-center m-3">

            <div class="card rounded m-3 Pass" style="height: 38.8rem; width: 26.3rem;">

                <img class="card-img" src="./static/SmallPassFront.png" alt="Photo">

                <div class="card-img-overlay">
                    <div class="row justify-content-between">
                        <div class="col justify-content-evenly">
                            <h2 id="pass_number" class="text-danger text-start px-2">{{pass_number}}</h2>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <img src="./static/Logo3.png" width="50" height="50" class="d-inline-block align-top" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-img-overlay">
                    <div class="row justify-content-between">
                        <div class="col justify-content-evenly">
                            <h2 class="text-danger text-center px-2 text-uppercase">{{purpose}}</h2>
                        </div>
                    </div>
                </div>

                <div class="card-img-overlay" style="padding:2.5rem;">

                    <div style="height:7rem;"></div>

                    <div class="card border-0 bg-transparent">
                        <div class="card bg-transparent p-1 mx-auto rounded-circle border-3 ImageBorder" style="height:12rem;width:12rem;">
                            <div class="card mx-auto my-auto rounded-circle border-0" style="height:11rem;width:11rem;overflow:hidden;">
                                <img id="user_img" class="w-100 h-100 placeholder" style="object-fit:contain;max-width:11rem;" src="" alt="Add Photo">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row h3 mb-2">
                                <div class="col text-center text-capitalize">
                                    <span>{{visitor_name}}</span>
                                </div>
                            </div>
                            <div class="row mb-2 fs-5 text-center">
                                <div class="col">
                                    <span>Visiting From </span>
                                    <span class="fw-bold text-capitalize">{{coming_from}}</span>
                                    <span> To See </span>
                                    <span class="fw-bold text-capitalize">{{requested_person}}</span>
                                </div>
                            </div>
                            <div class="row mb-0 fs-6 text-center">
                                <div class="col">
                                    <span class="fw-bold text-capitalize">Date :- </span>
                                    <span>{{current_date}}</span>
                                </div>
                                <div class="col">
                                    <span class="fw-bold text-capitalize">Time :- </span>
                                    <span>{{time_in}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card rounded m-3 Pass" style="height: 38.8rem; width: 26.3rem;">

                <img class="card-img" src="./static/SmallPassFront.png" style="transform: scaleX(-1);" alt="Photo">

                <div class="card-img-overlay">
                    <div class="row justify-content-between">
                        <div class="col justify-content-evenly">
                            <h2 class="text-danger text-start px-2">{{pass_number}}</h2>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <img src="./static/Logo3.png" width="50" height="50" class="d-inline-block align-top" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-img-overlay">
                    <div class="row justify-content-between">
                        <div class="col justify-content-evenly">
                            <h2 class="text-danger text-center px-2 text-uppercase">{{purpose}}</h2>
                        </div>
                    </div>
                </div>

                <div class="card-img-overlay" style="padding:2.5rem;">

                    <div style="height:19rem;"></div>

                    <div class="card border-0 bg-transparent">
                        <div class="card-body">

                            <div class="row mb-0 fs-5">
                                <div class="col">
                                    <span class="fw-bold">Mobile No:- </span>
                                    <span class="fs-6">{{mobile_number}}</span>
                                </div>
                            </div>
                            <div class="row mb-0 fs-5">
                                <div class="col">
                                    <span class="fw-bold">Aadhar No:- </span>
                                    <span class="fs-6">{{adhar_number}}</span>
                                </div>
                            </div>
                            <div class="row mb-0 fs-5">
                                <div class="col">
                                    <span class="fw-bold">Helmt No:- </span>
                                    <span class="fs-6">{{helmet_number}}</span>
                                </div>
                                <div class="col">
                                    <span class="fw-bold">Token No:- </span>
                                    <span class="fs-6">{{token_number}}</span>
                                </div>
                            </div>
                            <div class="row mb-0 fs-5">
                                <img src="./static/Ppe-kit.png" class="d-inline-block align-top" alt="" style="height:2.5rem;">
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="container mx-auto justify-content-center m-3">
            <div class="text-center text-danger h1">
                <input id="GeneratePdfButton" type="button" class="btn btn-danger my-auto" value="Print Pass" onclick="generatePDF()">
                <div id="Spinner" class=" mx-2 my-auto spinner-border h6 d-none" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </form>
    <script type="module" src="{{ url_for('static', filename='js/Script.js') }}"></script>
</body>
</html>
