body {
    margin : 0;
    padding : 0;
}

.Main {
    height: fit-content;
    width: 600px;
    background-color: var(--Primary-Color-Light);
    border-radius: 20px;
    display: inline-block;
    padding: var(--Default_Padding);
    box-sizing: border-box;
}

.Card2 {
    height: fit-content;
    box-sizing: border-box;
    margin : var(--Default_Margin);
    padding : var(--Default_Padding);
    display : flex;
    justify-content:space-around;
}

label {
    color: var(--Primary-Color-Dark);
    font-size: 20px;
    align-self:center;
}

.Logo{
    height : auto;
    width : 100px;
}