*{
    font-family:'Montserrat';
}

.FadeLogo {
    position: relative;
    display: block;
    width: fit-content;
    padding: 4rem;
    background: radial-gradient(#04003c 0%,#02001c 75%);
}

.FadeLogo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #02001c 100%);
    pointer-events: none;
}

.ImageBorder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    outline: 3px solid #ddf0ff;
    mix-blend-mode: difference;
}

.Reveal-Text {
    opacity: 0;
    animation: RevealAnimationText 1s ease forwards;
}

.Reveal-Image {
    opacity: 0;
    animation: RevealAnimationImage 1s ease forwards;
}
.Expand-Div {
    height: 0;
    transition: height 0.5s ease;
    animation: ExpandAnimationDiv 1s ease forwards;
}

.List-Icon {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    rotate:330deg;
    transform:scaleX(-1);
}

@keyframes ExpandAnimationDiv {
    0% {
        height:0rem;
    }

    90% {
        height:30rem;
    }

    100%{
        height:auto;
    }
}

@keyframes RevealAnimationImage {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes RevealAnimationText {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}